body 
{
	
    background: linear-gradient(
      rgba(228, 228, 228, 0.95), 
	  rgba(228, 228, 228, 0.95)
    ), url(../img/dome.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
   font-family: Roboto, Arial, sans-serif;
	

}


.slider {
	position: relative;
	height: 300px;
	width: 100%;
	overflow: hidden;
	top:0px;
	
}
#slides {
	width: 100%;
	height: 100%;
}

.slide {
	width: 100%;
	height: 100%;
	
	text-align:left;
	position: absolute;
	padding: 66px;
}




#slide-3 {
        background-position: center;
    background-size: cover;
    background-color:White;
}

#slide-3 .fadehover {
	position: relative;
	width: 900px;
  	margin: 0 auto;
 	

	}
	
 #trust
 {
position: absolute;
opacity:0;
left: 48px;
top:8px;
top: 0;
z-index: 10;
filter: alpha(opacity=0);
font-family: Century Gothic, sans-serif;
font-size: 25px;
}


 #transparency{
position: absolute;
opacity:0;
left: 289px;
top:8px;
top: 0;
z-index: 10;
filter: alpha(opacity=0);
font-family: Century Gothic, sans-serif;
font-size: 25px;
}


#independance{
position: absolute;
opacity:0;
left: 531px;
top:8px;
top: 0;
z-index: 10;
filter: alpha(opacity=0);
font-family: Century Gothic, sans-serif;
font-size: 25px;
}

#trustarabic{
position: absolute;
opacity:0;
left: 48px;
top:30px;
z-index: 10;
filter: alpha(opacity=0);
font-family: Century Gothic, sans-serif;
font-size: 25px;
}


#transparencyarabic{
position: absolute;
opacity:0;
left: 310px;
top:30px;
z-index: 10;
filter: alpha(opacity=0);
font-family: Century Gothic, sans-serif;
font-size: 25px;
}


#independancearabic{
position: absolute;
opacity:0;
left: 555px;
top:30px;
z-index: 10;
filter: alpha(opacity=0);
font-family: Century Gothic, sans-serif;
font-size: 25px;
}

#trustrussian{
position: absolute;
opacity:0;
left: 80px;
top:30px;
z-index: 10;
filter: alpha(opacity=0);
font-family: Century Gothic, sans-serif;
font-size: 25px;
}


#transparencyrussian
{
position: absolute;
opacity:0;
left: 400px;
top:30px;
z-index: 10;
filter: alpha(opacity=0);
font-family: Century Gothic, sans-serif;
font-size: 25px;
}


#independancerussian{
position: absolute;
opacity:0;
left: 655px;
top:30px;
z-index: 10;
filter: alpha(opacity=0);
font-family: Century Gothic, sans-serif;
font-size: 25px;
}

img.a {
	position: absolute;
	opacity:0;
	left: 0;
	top: 83px;
        z-index: 10;
	filter: alpha(opacity=0);
	
	}
 
img.b {
	position: absolute;
	left: 0;
	top: 83px;
	}
img.c {
	position: absolute;
	opacity:0;
	left: 160px;
	top: 83px;
        z-index: 10;
	filter: alpha(opacity=0);

	}
img.d {
	position: absolute;
	opacity:0;
	left: 270px;
	top: 83px;
        z-index: 10;
	filter: alpha(opacity=0);

	}

img.e {
	position: absolute;
	opacity:0;
	left: 445px;
	top: 83px;
        z-index: 10;
	filter: alpha(opacity=0);
	}

img.f {
	position: absolute;
	opacity:0;
	left: 638px;
	top: 83px;
        z-index: 10;
	filter: alpha(opacity=0);
	}

img.g {
	position: absolute;
	opacity:0;
	left: 735px;
	top: 83px;
        z-index: 10;
	filter: alpha(opacity=0);
	}


img.h {
	position: absolute;
	opacity:0;
	left: 794px;
	top: 83px;
        z-index: 10;
	filter: alpha(opacity=0);
	}

#slide-3 .infotext {
	position: absolute;
	opacity:0;
	left: 0px;
	top:60px;
        z-index: 9;
	filter: alpha(opacity=0);
	font:25px Century Gothic, sans-serif;
}

#slide-3 .logo {
	position:absolute;
	opacity:0;
	left: 100px;
	top: 0px;
        z-index: 9;
	filter: alpha(opacity=0);
	font:bold 25px arial,sans-serif;
}
#worldmap {
	position:absolute;
	opacity:0;
	left: 0px;
	top: -100px;
     z-index: 0;
	filter: alpha(opacity=0);
	font:bold 25px arial,sans-serif;
}

#slide-3 .quote { 
	position: absolute;
	opacity:0;
	left:210px;
	top: 100px;
        z-index: 9;
	filter: alpha(opacity=0);
	font-size:20px;
	color:#646464;
	font-family: Century Gothic, sans-serif;
}

/******************marquee**********/
.slider marquee.partners {
	background: rgb(17, 114, 130);
	color: white;
	font-weight: lighter;
	bottom: 0px;
	position: absolute;
	height: 40px;
	z-index: 2;
    -webkit-user-select: none;
}

.slider marquee.partners a {
	margin: 0px 50px 0px 50px;
	line-height: 40px;
}


.about-wrapper {
        padding-top: 0px;
 
    min-height: 50.6vh;
    }

.about-wrapper .about-sidebar
{
	float: left;
    width: 18%;
	    font: 13px Roboto, Arial, sans-serif;
	}

.about-wrapper .about-sidebar li a {
    line-height: 1.2em;
    padding: 10px;
    vertical-align: middle;
    color: rgb(3, 105, 123);
    text-align: right;
    float: right;
    display: inline-block;
    width: 100%;
    
    -webkit-transition: all 0.1s ease-in-out;
    
            transition: all 0.1s ease-in-out;
}

.about-wrapper .about-sidebar li .current {
    color: #03697b;
    font-weight: bold;
}

.about-wrapper .about-sidebar li .current:hover {
    color: #03697b;
    padding-right: 10px;
    cursor: default;
}

.about-wrapper .about-sidebar li a:hover {
	color: #03697b;
    padding-right: 13px;
}


.about-wrapper .content {
          margin-top: 10px;
    position: relative;
    float: left;
    width: 81%;
    margin-left: 1%;
    text-align: left;
    height: 476px;
    overflow-y: scroll;
}

.about-wrapper .content .box {
    background: white;
  text-align:justify;
}


.about-wrapper .content .box h3
{
	    color: #333333;
    line-height: 1.3em;
    padding: 11px 25px;
    font-weight: bolder;
    font-size: 15px;
    background: rgba(0, 104, 122, 0.56);
	
	}
.about-wrapper .content .column-cont
{
	background: white;
    padding-bottom: 25px;
    margin-top: 30px;
	
	}

.about-wrapper .content .box .box-title {
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
   }
.about-wrapper .content .box:first-child {
    margin-top: 1px;
}

.about-wrapper .content .box p {
    font-weight: normal;
    color: #333333;
    line-height: 1.3em;
    padding: 0px 25px;
    font-size: 14px;
    
}

.about-wrapper .content .box h2 {
       color: #333333;
    line-height: 1.3em;
    padding: 11px 25px;
    font-weight: bolder;
    font-size: 20px;
    background: #F3F3F3;
}

.about-wrapper .content .box br {
    -webkit-user-select: none;

}

.about-wrapper .contentcor {
         margin-top: 10px;
    position: relative;
    float: left;
    width: 81%;
    margin-left: 1%;
    text-align: left;
    height: 476px;
    overflow: auto;
}

.about-wrapper .contentcor .box {
    background: white;
   text-align:justify;
}

.about-wrapper .contentcor .column-cont
{
	background: white;
    padding-bottom: 25px;
    margin-top: 30px;
	
	}

.about-wrapper .contentcor .box .box-title {
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
   }
.about-wrapper .contentcor .box:first-child {
    margin-top: 1px;
}

.about-wrapper .contentcor .box p {
    font-weight: normal;
    color: #333333;
    line-height: 1.3em;
    padding: 0px 25px;
    font-size: 14px;
    
}

 .about-wrapper .content .box h3 {
    color: #333333;
    line-height: 1.3em;
    padding: 11px 25px;
    font-weight: bolder;
    font-size: 15px;
    background: rgba(0, 104, 122, 0.56);
}


.about-wrapper .contentcor .box br {
    -webkit-user-select: none;

}


    .white-tabs {
    margin-top: 30px;
}


.white-tabs li
{
	width: 33.333%;
    float: left;
	
	}
	
	.white-tabs li a
	{
		line-height: 50px;
    display: inline-block;
    background: white;
    width: 100%;
    text-align: center;
    border-left: 1px solid rgba(0,0,0,0.1);
    text-transform: uppercase;
    font-weight: bold;
    white-space: nowrap;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
		
		
		}
	  
    .desc
    {
    	
    padding: 30px;   
    font-size: 14px; 	
    	}
    	
    	.desc img 
    	{
    	height: 100px;
    float: left;
    display: block;
    width: 100px;	
    	}
    	
    .desc .managelink
    {
     margin: 0px;
    margin-left: 4px;
    display: inline-block;

    color: #338694;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    font-size: 14px;
    	
    	}
    	
    	
    	@media screen and (max-width: 1080px)
    	{
    		.about-wrapper .contentcor
    		{
    			 overflow: auto;
    			
    			}
    		}
    	
	@media screen and (max-width: 770px)
	
	{
		.about-wrapper .about-sidebar
{
	
       width: 90%;
    margin-top: 14px;
    	
	}


.about-wrapper .about-sidebar li a
{
	
	display: inline-block;
    background: rgba(0, 104, 122, 0.2);
 
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid;
    color: #f3f3f3;
		
	}
		
	.about-wrapper .content
	{
		     width: 90%; 
     margin-left: 0%; 
				
		}
		
		.about-wrapper .contentcor
		{
			      width: 90%;
    margin-top: 4px;
			
			    overflow: auto;
			}
		} 
		