body 
{
	   background: linear-gradient(
      rgba(228, 228, 228, 0.95), 
	  rgba(228, 228, 228, 0.95)
    ), url(../img/dome.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
   font-family: Roboto, Arial, sans-serif;
	
}
.slider {
	position: relative;
	height: 300px;
	width: 100%;
	overflow: hidden;
	top:0px;
	
}
#slides {
	width: 100%;
	height: 100%;
}

.slide {
	width: 100%;
	height: 100%;
	
	text-align:left;
	position: absolute;
	padding: 66px;
}




#slide-3 {
        background-position: center;
    background-size: cover;
    background-color:White;
}

#slide-3 .fadehover {
	position: relative;
	width: 900px;
  	margin: 0 auto;
 	

	}
	
 #trust
 {
position: absolute;
opacity:0;
left: 48px;
top:8px;
top: 0;
z-index: 10;
filter: alpha(opacity=0);
font-family: Century Gothic, sans-serif;
font-size: 25px;
}


 #transparency{
position: absolute;
opacity:0;
left: 289px;
top:8px;
top: 0;
z-index: 10;
filter: alpha(opacity=0);
font-family: Century Gothic, sans-serif;
font-size: 25px;
}


#independance{
position: absolute;
opacity:0;
left: 531px;
top:8px;
top: 0;
z-index: 10;
filter: alpha(opacity=0);
font-family: Century Gothic, sans-serif;
font-size: 25px;
}

#trustarabic{
position: absolute;
opacity:0;
left: 48px;
top:30px;
z-index: 10;
filter: alpha(opacity=0);
font-family: Century Gothic, sans-serif;
font-size: 25px;
}


#transparencyarabic{
position: absolute;
opacity:0;
left: 310px;
top:30px;
z-index: 10;
filter: alpha(opacity=0);
font-family: Century Gothic, sans-serif;
font-size: 25px;
}


#independancearabic{
position: absolute;
opacity:0;
left: 555px;
top:30px;
z-index: 10;
filter: alpha(opacity=0);
font-family: Century Gothic, sans-serif;
font-size: 25px;
}

#trustrussian{
position: absolute;
opacity:0;
left: 80px;
top:30px;
z-index: 10;
filter: alpha(opacity=0);
font-family: Century Gothic, sans-serif;
font-size: 25px;
}


#transparencyrussian
{
position: absolute;
opacity:0;
left: 400px;
top:30px;
z-index: 10;
filter: alpha(opacity=0);
font-family: Century Gothic, sans-serif;
font-size: 25px;
}


#independancerussian{
position: absolute;
opacity:0;
left: 655px;
top:30px;
z-index: 10;
filter: alpha(opacity=0);
font-family: Century Gothic, sans-serif;
font-size: 25px;
}

img.a {
	position: absolute;
	opacity:0;
	left: 0;
	top: 83px;
        z-index: 10;
	filter: alpha(opacity=0);
	
	}
 
img.b {
	position: absolute;
	left: 0;
	top: 83px;
	}
img.c {
	position: absolute;
	opacity:0;
	left: 160px;
	top: 83px;
        z-index: 10;
	filter: alpha(opacity=0);

	}
img.d {
	position: absolute;
	opacity:0;
	left: 270px;
	top: 83px;
        z-index: 10;
	filter: alpha(opacity=0);

	}

img.e {
	position: absolute;
	opacity:0;
	left: 445px;
	top: 83px;
        z-index: 10;
	filter: alpha(opacity=0);
	}

img.f {
	position: absolute;
	opacity:0;
	left: 638px;
	top: 83px;
        z-index: 10;
	filter: alpha(opacity=0);
	}

img.g {
	position: absolute;
	opacity:0;
	left: 735px;
	top: 83px;
        z-index: 10;
	filter: alpha(opacity=0);
	}


img.h {
	position: absolute;
	opacity:0;
	left: 794px;
	top: 83px;
        z-index: 10;
	filter: alpha(opacity=0);
	}

#slide-3 .infotext {
	position: absolute;
	opacity:0;
	left: 0px;
	top:60px;
        z-index: 9;
	filter: alpha(opacity=0);
	font:25px Century Gothic, sans-serif;
}

#slide-3 .logo {
	position:absolute;
	opacity:0;
	left: 100px;
	top: 0px;
        z-index: 9;
	filter: alpha(opacity=0);
	font:bold 25px arial,sans-serif;
}
#worldmap {
	position:absolute;
	opacity:0;
	left: 0px;
	top: -100px;
     z-index: 0;
	filter: alpha(opacity=0);
	font:bold 25px arial,sans-serif;
}

#slide-3 .quote { 
	position: absolute;
	opacity:0;
	left:210px;
	top: 100px;
        z-index: 9;
	filter: alpha(opacity=0);
	font-size:20px;
	color:#646464;
	font-family: Century Gothic, sans-serif;
}

/******************marquee**********/
.slider marquee.partners {
	background: rgb(17, 114, 130);
	color: white;
	font-weight: lighter;
	bottom: 0px;
	position: absolute;
	height: 40px;
	z-index: 2;
    -webkit-user-select: none;
}

.slider marquee.partners a {
	margin: 0px 50px 0px 50px;
	line-height: 40px;
}


.about-wrapper {
        padding-top: 0px;
 
    min-height: 50.6vh;
    }

.about-wrapper .about-sidebar
{
	float: left;
    width: 15%;
	
	}

.about-wrapper .about-sidebar li a {
    line-height: 1.4em;
    padding: 10px;
    vertical-align: middle;
    color: rgb(3, 105, 123);
    text-align: right;
    float: right;
    display: inline-block;
    width: 100%;
    
    -webkit-transition: all 0.1s ease-in-out;
    
            transition: all 0.1s ease-in-out;
}

.about-wrapper .about-sidebar li .current {
    color: #03697b;
    font-weight: bold;
}

.about-wrapper .about-sidebar li .current:hover {
    color: #03697b;
    padding-right: 10px;
    cursor: default;
}

.about-wrapper .about-sidebar li a:hover {
	color: #03697b;
    padding-right: 13px;
}

/********************************/
.sidebar
{
		
 display: block;
    font: 13px Roboto, Arial, sans-serif;
   
    margin: 0; 
    padding: 0;
	}

.sidebar li {
  list-style: none;

}

.sidebar .button-dropdown {
    position: relative;
}

.sidebar li a {
    display: block;
     color: rgba(53, 126, 178, 0.6);
    padding: 10px 16px;
    text-decoration: none;
    cursor: pointer;
}

.sidebar li a span {
    display: inline-block;
    margin-left: 5px;
    font-size: 10px;
    color: #999;
}

.sidebar li a:hover, .sidebar li a.dropdown-toggle.active {
       font-weight: bold;
    color:#357eb2;
    
}

.sidebar li a:hover span, .sidebar li a.dropdown-toggle.active span {
    color: #fff;
}

.sidebar li .dropdown-menu {
    display: none;
   /*position: absolute;*/
    left: 0;
    padding: 0;
    margin: 0;
    margin-top: 3px;
    text-align: left;
}

.sidebar li .dropdown-menu.active {
    display: block;
}

.sidebar li .dropdown-menu a {
    width: 100%;
}

.about-wrapper .contentcor {
      margin-top: 10px;
    position: relative;
    float: left;
    width: 82%;
    margin-left: 1%;
    text-align: left;
     overflow-y: scroll;
    height: 476px;
}

.about-wrapper .contentcor .box {
    background: white;
    text-align:justify;
}

.about-wrapper .contentcor .column-cont
{
	background: white;
    padding-bottom: 25px;
    margin-top: 30px;
	
	}

.about-wrapper .contentcor .box .box-title {
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
   }
.about-wrapper .contentcor .box:first-child {
    margin-top: 1px;
}

.about-wrapper .contentcor .box p {
    font-weight: normal;
    color: #333333;
    line-height: 1.3em;
    padding: 0px 25px;
    font-size: 14px;
    
}

.about-wrapper .contentcor .box p img 
{
	width: 60%;
      max-width: 1400px;
    margin: 0 auto;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    display: block;
	
	}

.about-wrapper .contentcor .box h2 {
       color: #333333;
    line-height: 1.3em;
    padding: 11px 25px;
    font-weight: bolder;
    font-size: 20px;
    background: #F3F3F3;
}

.about-wrapper .contentcor .box h3 {
    color: #333333;
    line-height: 1.3em;
    padding: 11px 25px;
    font-weight: bolder;
    font-size: 15px;
    background: rgba(0, 104, 122, 0.56);
}

.about-wrapper .contentcor .box br {
    -webkit-user-select: none;

}

.rating-process table {    
    width: 100%;
    font-size: 16px;
    line-height: 1.3em;
}

/* Gray rows get this default styling */

.rating-process table tr {
/*    border-bottom: 2px solid white;    */
}

.rating-process table tr th {
   font-weight: bold;
    width: 20%;
    text-align: center;
    vertical-align: middle;
    background: white;
    border-right: 2px solid #d0d0d0;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    border-bottom: 2px solid #d0d0d0;
    font-size: 15px;
}

.rating-process table tr .data {
  font-weight: normal;
    width: 71%;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    border-left: 2px solid #d0d0d0;
    font-size: 14px;
}

.rating-process table tr td {
    float: left;
    padding: 12px;
    vertical-align: middle;
    width: 100%;
    background: white;
    border-bottom: 1px solid #d0d0d0;
    -webkit-transition: all 200ms ease-in-out;
            transition: all 200ms ease-in-out;

}
.about-wrapper .content .ratingprocess .box p
{
	font-weight: normal;
    color: #333333;
    line-height: 1.3em;
    padding: 0px 25px;
    font-size: 14px
	
	}

/* Blue rows get this styling */



.rating-process table tr.blue td {
    background:rgb(107, 162, 171);
}

/* duration marker */

.rating-process table tr.duration th {
    width: 100%;
    background: white;
    text-align: center;
    padding: 20px;
    color: #338694;
    font-size: 20px;
    border: none;
}

.rating-process table tr.duration .data {
    width: 100%;
    background: white;
    text-align: center;
    padding: 20px;
    color: #338694;
    font-size: 20px;
    border: none;
}


@media screen and (max-width: 1080px)
    	{
    		.about-wrapper .contentcor
    		{
    			 overflow: auto;
    			
    			}
    		}
    	
	@media screen and (max-width: 770px)
	
	{
		.about-wrapper .about-sidebar
{
	
    width: 100%;
    	    padding-top: 8px;
	}

.about-wrapper .about-sidebar li a

{
	
	display: inline-block;
    background: rgba(0, 104, 122, 0.2);
     text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid;
    color: #f3f3f3;
		
	}
		
	.about-wrapper .content
	{
		     width: 100%; 
     margin-left: 0%; 
				
		}
		
		.about-wrapper .contentcor
		{
			    width: 100%;
     margin-left: 0%; 
			
			    overflow: auto;
			}
		} 